.home-container{
    background-color: rgb(235, 235, 235);
    height: 100vh;
}

.below-nav {
    margin-top: 1vh;
    padding : 1vh;
    display: flex;
    direction: ltr;
    column-gap: 1vh;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.main-col{
    flex : 1.5
}

.ends-col {
    flex : 1;
}

.chats-list-components{
}