.inner-form{
    height: max-content;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2vh;
    flex-flow: column;
}

.form-pack{
    flex : 1;
}

.auth-input{
    padding : 1.5vh;
    width: 80%;
}

.btn{
    width: 50%;
    margin : auto;
}

.pass-elem:first-child{
    float: left;
    margin-right : 1em;
}

fa-icon{
    cursor: pointer;
}

.pass-elem:last-child{
    float: left;
}
