<div class="inner-form">
    
    <div class="form-pack">
        <input [(ngModel)]="name" placeholder="Name" class="auth-input" type="text" name="name" id="name">
    </div>
    <div class="form-pack">
        <input [(ngModel)]="lastName" placeholder="Last Name" class="auth-input" type="text" name="lastName" id="lastName">
    </div>
    <div class="form-pack">
        <input [(ngModel)]="email" placeholder="Email" class="auth-input" type="email" name="email" id="email">
    </div>
    <div class="form-pack">
        <input [(ngModel)]="password" placeholder="Password" class="auth-input pass-elem" [type]="passType" name="password" id="password">
        <div (click)="passwordShowHide()" class="icon-wrap">
            <fa-icon class="pass-elem" [icon]="eyeIcon"></fa-icon>
        </div>
    </div>
    <div class="form-pack">
        <input [(ngModel)]="passConf" placeholder="Password Confirm" class="auth-input" [type]="passType" name="passwordConf" id="passwordConf">
    </div>

    <div class="form-pack btn-wrap">
        <button [disabled]="submitDisabled" (click)="register()" class="btn btn-primary">Register</button>        
    </div>

</div>