<div class="club-elem-wrapper">
    <div class="club-logo-wrapper">
        <img class="circular club-logo" src="assets/images/auth-first-background.jpg" height="70px" width="70px" alt="">
    </div>
    <div class="club-info-wrapper">
        <div class="club-info-header">
            <div class="club-name-wrapper sect">
                <p class="club-name">Activix</p>
            </div>
            <div class="club-type-wrapper sect">
                <p class="club-type">(Security Club)</p>
            </div>
            <div class="club-event-count-wrapper sect">
                <p class="event-count">20 events</p>
            </div>
            <div class="club-join-button-wrapper sect">
                <div class="club-join-button transition-2s">
                    <span>JOIN</span>
                    <fa-icon [icon]="joinIcon" class="inherit-color"></fa-icon>
                </div>
            </div>
        </div>
        <div club="club-about">
            <p>We are Activix and we are all about secutity and penTesting, 
                problem solving and ...</p>
        </div>
    </div>
</div>